<!-- wp:template-part {"slug":"header","tagName":"header","theme":"elwmarholding"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">

	<!-- wp:group {"layout":{"type":"constrained","contentSize":"740px"}} -->
	<div class="wp-block-group">

		<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} /-->

		<!-- wp:post-featured-image {"style":{"border":{"radius":"var:custom|border-radius|lg"},"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"aspectRatio":"16/9"} /-->

		<!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}}} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"elwmarholding"} /-->
